<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="people">
            <h2><span>People</span> {{people.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{people.username}}</span>
                </dd>
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{people.firstname}}</span>
                </dd>
                <dt><span>Lastname</span></dt>
                <dd>
                    <span>{{people.lastname}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/people', people.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
